@use '../utils/mixins' as *;
@use '../utils/variables' as *;


.dresscode {  
  &__container{
    @include display-center;
  }
  &__title{
    color:$color-secondary;
  }
  &__description{
          padding-bottom: $space-sm;

  }
    &__color-note{
    text-align: center;
    padding-bottom: $space-md;
    opacity: 0.7;
    text-wrap: balance;
  }


}
