@use './utils/mixins' as *;
@use './utils/variables' as *;

@use './components/hero' as *;
@use './components/countdown' as *;
@use './components/event-details' as *;
@use './components/dresscode' as *;
@use './components/emotional-divider' as *;
@use './components/section-divider' as *;
@use './components/hashtag' as *;
@use './components/gifts' as *;
@use './components/rsvp' as *;
@use './components/floating-buttons' as *;
@use './components/footer' as *;


@use './utils/animations' as *;
@use './utils/modal' as *;




*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $color-bg;
  color: $color-primary;
  font-family: $font-body;
  font-size: 16px;
  line-height: 1.6;
  background-image: $bg-pattern-light;
  background-size: 40px 40px;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: $font-title;
  line-height: 1.2;
}


p {
  font-family: $font-body;
  line-height: 1.6;

}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

section {
  padding: $section-padding 1.5rem;
}

section + section {
  border-block: 1px solid $color-secondary-t;
}

input[type="radio"]{
  accent-color: $color-primary;
}

/*--------SECTIONS CLASS-----------*/
.bold{
  font-weight: 800;
}
.text-center{
  text-align: center;
}
.u-script  {
  font-family: $font-decorative;
  font-size: clamp(1.3rem, 6vw, 1.6rem);
  font-weight: 400;
  font-style: italic;
}

.u-title {
    font-size: clamp(0.65rem, 2vw, 0.8rem);
    font-family: $font-detail;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding-bottom: $space-md;

}
.u-section-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.u-subtitle {
  text-align: center;
  margin: 0 auto;
  padding-bottom: $space-md;
}

.u-description {
  text-align: center;
  padding-bottom: $space-sm;
}

.u-note {
  text-align: center;
  padding-bottom: $space-md;
  opacity: 0.7;
  text-wrap: balance;
}

.u-btn{
    @include btn-outline;
    margin-top: 8px;
  }